@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
font-family: "PT Sans", sans-serif;
font-size: 20px;
line-height: 26px;
color: #000000;
background-color: #FFFFFF;
width: 1200px;
margin: 0 auto;
padding: 0 auto;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
display: flex;
width: 1060px;
margin: 0 auto;
}

.navigation-list {
  width: 345px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  max-width: 264px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-pic {
  background-image: url("../images/background.jpg");
  background-image: url("../images/welcome.png");
  background-repeat: no-repeat;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: black;
}

.advantages-item-1,
.advantages-item-5 {
  font-size: 18px;
  line-height: 21px;
  background-color: #83B3D3;
  color: #FFFFFF;
  width: 400px;

}
.city:nth-child(1) {
background-image: url("/images/city-1.jpg");
width: 800px;
}

.city:nth-child(2) {
  background-image: url("/images/city-2.jpg");
  width: 800px;
  }

.advantages-item-2,
.advantages-item-4,
.advantages-item-6,
.advantages-item-8 {
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-7 {
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-item-3 {
  width: 400px;
}

.button {
  background-color: #756257;
  color:#FFFFFF;

}
.blue {
  background: #83B3D3;
}


.hotel-search {
text-align: center;
}

.search-question {
  color: #000000;
  font-size: 30px;
 line-height: 36px;
}

.search {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
text-align: center;
color: #FFFFFF;
background-image: url("../images/background-subscribe.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  }

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.page-footer {
background-color: #FFFFFF;
color: #242424;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.social {
  background: #FFFFFF;
  width: 107px;
}

.address-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  width: 720px;

}
.sorting-container {
  background-image: url("../images/background-catalogue.jpg");
  color:#FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalogue-header {
  background-color: lightgray;
  color:#FFFFFF;
}

.catalogue-header-title {
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-size: 20px;
 line-height: 26px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-show-more {
  background-color: #83B3D3;
}

.hotel-card-button {
  background-color: #83B3D3;
}

.hotel-card-detail {
  background-color: #756257;
}

.breadcrumbs-link {
color: #000000;
}
